<form action="<%= cats_url %>" method="post">
  <label for="name">Name:
    <input type="text" id="name" name="cat[name]" value:"<%=@cat.name%>">
  </label>
  <label for="birth_date">birth_date:
    <input type="date" id="birth_date" name="cat[birth_date]" value:"<%=@cat.birth_date%>"
  </label>
  <label for="color">color:</label>
  <select name='cat[color]' id="color">
    <option value="black">black</option>
    <option value="white">white</option>
    <option value="orange">orange</option>
    <option value="green">green</option>
    <option value="calico">calico</option>
    <option disabled selected>Choose A Color</option>
  </select>
  <br>
  <label for="sex">Sex</label>
  <input type="radio" name="cat[sex]" value="M" id="male">
  <label for="male">Male</label>
  <input type="radio" name="cat[sex]" value="F" id="female">
  <label for="female">Female</label>
  <br>
  <label for="description">Description:</label>
  <br>
  <textarea name="cat[description]" id="description"></textarea>
  <br>
  <input type="submit" value="Create Cat!">
</form>